/* Background Color */
.bg_color--1 {
    background: #fff;
}

.bg_color--3 {
    background: #f9f9f9;
}


/*-- Padding Top Bottom --*/
.section-ptb-xl {
    padding-top: 180px;
    padding-bottom: 180px;
}


.section-ptb-md {
    padding-top: 130px;
    padding-bottom: 130px;
}


.section-ptb-100 {
    padding: 100px 0;
}


.section-pt-xl {
    padding-top: 160px;
}


.section-pb-xl {
    padding-bottom: 160px;
}


/* ======================
    Blog Area
=======================*/
.rn-blog {
    margin-top: 40px;
}

.rn-blog h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 13px;
}

.rn-blog h2 a {
    color: #000000;
}

.rn-blog h2 a span {
    font-weight: 300;
    font-size: 18px;
}

.rn-blog p {
    color: #222;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 1px;
}

/* ====================
    Breadcaump Area
==========================*/
.main-paralax-wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

.parallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    padding: 320px 0;
    justify-content: center;
    align-items: center;
    transform: translateZ(-0.95px) scale(2);
    background-color: #7d726c;
    background-size: cover;
}


.static-breadcaump {
    padding: 312px 0 310px 0;
}

.bradcaump_inner {
    position: relative;
    z-index: 8;
    display: block;
}

.bradcaump_inner h2.bradcaump-title {
    color: #ffffff;
    font-size: 60px;
    line-height: 90px;
    margin: 0;
}

.bradcaump_inner ul.blog-meta {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 42px;
}

.bradcaump_inner ul.blog-meta li {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.bradcaump_inner ul.blog-meta li a {
    color: #ffffff;
}

.bradcaump_inner ul.blog-meta li.separator {
    margin: 0 22px;
}

.bradcaump_inner p {
    color: #ffffff;
    font-size: 22px;
    line-height: 38px;
    font-weight: 300;
    padding: 0 10%;
}

/* ====================
Blog Details Area
=========================*/
.blog-details-wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.blog-details-wrapper .dropcaps-inner p {
    color: #000000;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
}

.blog-details-wrapper .dropcaps-inner p:first-of-type:first-letter {
    color: #000000;
    float: left;
    font-size: 80px;
    margin-right: 15px;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 17px;
}

.blog-details-wrapper .content p {
    color: #000000;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 30px;
}

.blog-details-wrapper .content blockquote {
    padding: 0;
    margin: 0;
    margin-bottom: 38px;
}

.blog-details-wrapper .content blockquote p {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000;
    display: inline-block;
}

.blog-details-wrapper .content .bl-feature {
    margin-bottom: 43px;
    margin-top: 43px;
}

.blog-details-wrapper .content .bl-feature ul.feature-blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -15px;
}

.blog-details-wrapper .content .bl-feature ul.feature-blog-list li {
    margin: 0 15px;
}


/*====================
 Contact Area
=========================*/
.contact-wrapper {
    padding: 5px 240px 135px;
}


.contact-address {
    padding-left: 120px;
}

.contact-address h2 {
    color: #1c1c1e;
    font-weight: 500;
    font-size: 45px;
}

.contact-address .address {
    margin-top: 40px;
    display: flex;
}

.contact-address .address i {
    width: 45px;
    margin-top: 10px;
    color: #828283;
}

.contact-address .address p {
    color: #5b5c5d;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 0;
}

.contact-address .address p a {
    color: #5b5c5d;
    line-height: 24px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}

.contact-address .address p a::after {
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 1;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background: #000000;
    content: "";
}

.contact-address .address p a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}


/*======================
 * Footer
=====================================*/
.footer {
    padding: 0 250px;
}

.footer-top {
    padding-top: 110px;
}

.footer-top .content span {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer-top .content h4 {
    color: #000000;
    font-size: 45px;
    margin: 0;
    font-weight: 500;
    margin-top: 9px;
}

.footer-widget h3.ft-title {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}

.footer-widget .content p {
    color: #2e2e2d;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-widget .content .address p {
    margin-bottom: 6px;
}

.footer-widget .content .address p a {
    color: #2e2e2d;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    position: relative;
}

.footer-widget .content .address p a::after {
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 1;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background: #000000;
    content: "";
}

.footer-widget .content .address p a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.footer-widget .content.address-align-between {
    display: flex;
    justify-content: space-between;
}

.footer-widget.footer-left {
    padding-right: 151px;
}

.footer-widget ul.quick-link {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 -10px;
}

.footer-widget ul.quick-link li {
    margin: 0 10px;
}

.footer-widget ul.quick-link li a {
    color: #2e2e2d;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}

.footer-widget ul.quick-link li a::after {
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 1;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background: #000000;
    content: "";
}

.footer-widget ul.quick-link li a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}









